<h1>Error</h1>
<p>Uh oh. You tried to enter a duplicate entry. This customer already exists. Please return to the previous page and enter a unique customer name.</p>

<br>

<div align="center">
<a style="font-size: 25px" href="javascript:history.back()">Back</a>
</div>